name: CI

on:
  push:
    branches: [master]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Rust
        uses: ./.github/actions/setup-rust

      - name: Rust CI
        uses: ./.github/actions/rust-ci
